body {
    background-color: #121212;
    overflow: hidden;
    font: 16px system-ui;
}


form, #choose {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}



form {
    display: none;
    width: 200px;
}

input {
    width: 200px;
}

input, button {
    all: unset;
    background-color: rgba(255, 255, 255, 0.70);
    font: 16px system-ui;
    color: rgba(0, 0, 0);
    height: 100%;
    padding: 6px 10px;
    border-radius: 5px;
    margin-top: 15px;
}


button:hover {
    color: rgba(0, 0, 0);
}

button {
    color: rgba(0, 0, 0, 0.70);
    cursor: pointer;
}



::placeholder {
    color: rgba(0, 0, 0, 0.70);
}

p {
    color: rgba(255, 255, 255, 0.70);
    padding: 0;
    margin: 0;
    display: none;
}


#logout {
    display: none;
}




.row {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
}


#row-center {
    display: none;
    flex-direction: row;
    width: 200px;
    justify-content: center;
}


form > h1 {
    color: rgba(255, 255, 255, 0.70);
    margin: 0;
}




.password-div {
    position: relative;
}

.password-div > button{
    position: absolute;
    top: -13px;
    width: 17px;
    right: 0;
    background-color: transparent;
}



.password-div .eye-width {
    right: 1px!important;
}







html, body, content {
    height: 100%;
    width: 100%;
    margin: 0;
}


footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}


footer p {
    display: block;
    color: #fff;
    padding: 0;
    margin: 10px 10px;
    font-size: 12px;
    font-weight: 400;
    cursor: context-menu;
    opacity: 0.2;
}



